* {
  padding: 0;
  margin: 0;
}

body {

}

header {
  float: top;

  background-color: black;
  color: white;
}

nav {

}

main {

}

section {
  height: 100vh;
}

article {

}

footer {
  background-color: black;
  color: white;
}

address {

}